body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: Roboto;
	font-size: 16px;
	color: #2d3c49;
}

h1, h2, h3, h4, h5 {
	margin: 0; 
}

header, footer, section, div {
	box-sizing: border-box;
}

/*
 *
 * Header
 *
 */

.header {
	height: 100px;
	border-bottom: 3px solid #7d97ad;
}

.header-left {
	float:left;
	text-align: left;
	margin: 10px auto auto 5px;
}

.header-right {
	float:right;
	text-align: right;
	margin: 10px 5px auto auto;
}

.header-logo {
	width: 65px;
}

.header-title {
	font-weight: 300;
	font-size: 2.5em;
	font-weight: lighter;
    line-height: 1;
	padding: 0;
}

.header-subtitle {
	font-weight: bold;
    line-height: 1.5;
	padding: 0;
}

/*
 *
 * Main
 *
 */

main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*
 *
 * Content
 *
 */

 .content {
	display: flex;
	flex-wrap: wrap;
}

/*
 *
 * Hero
 *
 */

.hero {
	width: 100%;
	height: 50vw;
	position: relative;
	background-image: url("../img/555.jpg");
	background-size: cover;
	margin-top: 20px;
}

/*
 *
 * Grid
 *
 */

 .grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto auto auto auto;
	justify-content: space-between;
	grid-gap: 0;
	padding: 20px 0;
}

.grid-item {
	text-align: center;
	padding: 0;
}

.grid-item-img {
    max-width: 100%;
    object-fit: cover;	
}

.grid-item-span {
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: left;
}

.grid-name {
	color: #7d97ad;
	font-weight: normal;
}

.grid-title {
	font-size: 1.5em;
	font-weight: normal;
}

.grid-container a {
	font-size: 0.4em;
	font-weight: bold;
	line-height: 1.5;
	text-decoration: none;
	color: #2d3c49;
}

.item-span {
	grid-column: 1 / span 3;
	grid-row: 1;
}

.item-12 {
	grid-column: 1;
	grid-row: 2;
}

.item-13 {
	grid-column: 1;
	grid-row: 3;
}

.item-14 {
	grid-column: 1;
	grid-row: 4;
}

.item-22 {
	grid-column: 2;
	grid-row: 2;
}

.item-23 {
	grid-column: 2;
	grid-row: 3;
}

.item-24 {
	grid-column: 2;
	grid-row: 4;
}

.item-32 {
	grid-column: 3;
	grid-row: 2;
}

.item-33 {
	grid-column: 3;
	grid-row: 3;
}

.item-34 {
	grid-column: 3;
	grid-row: 4;
}

/*
 *
 * Footer
 *
 */

 footer {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
	margin:auto;
	border-top: 1px solid #7d97ad;
}

.footer-item {
	padding: 10px;
}

.footer-item a {
	font-size: 0.5em;
	line-height: 1.1;
	font-weight: lighter;
	text-decoration: none;
	color: #2d3c49;
}

/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 390px) {
	.grid-container a {
		font-size: 0.5em;
		font-weight: normal;
	}
}

@media screen and (min-width: 600px) {
	.grid-container a, .footer-item a {
		font-size: 0.6em;
	}
}

@media screen and (min-width: 850px) {
	main, header, .content {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
}

